{{define "modelos_list"}}
<section class="card">
	<header class="list-header">
		<h3>Lista</h3>

		<button
			class="btn-primary"
			hx-get="/produtos/modelos/form"
			hx-target="#modelos-form"
			hx-swap="innerHTML"
		>
			Novo Modelo
		</button>
	</header>

	<ul class="list">
		{{range .Modelos}}
		<li
			hx-get="/produtos/modelos/form?id={{.ID}}"
			hx-target="#modelos-form"
			hx-swap="innerHTML"
			class="list-item"
		>
			<strong>{{.Nome}}</strong>
			<span>{{.Linha}}</span>
		</li>
		{{end}}
	</ul>
</section>
{{end}}
