{{define "index"}}
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<title>ERP</title>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
		<link href="/static/style.css" rel="stylesheet">
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
	</head>
	<body>
		<h1>ERP</h1>
		<a href="/produtos/index">Produtos</a>
		<a href="/clientes">Clientes</a>
		<a href="/pedidos">Pedidos</a>
		<a href="/producao">Produção</a>
	</body>
</html>

{{end}}
